{% extends "base.html" %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<body style="background-image: url('/imagenes/spider.jpg'); background-size: cover; background-position: center; padding: 20px; margin: 0; color: white;">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center" style="border-radius: 10px; background-color: rgba(0, 0, 0, 0.226); padding: 75px;">
                <h1 class="display-4">Bienvenido a repelis+</h1>
                <p class="lead">Verás incontable cantidad de peliculas de tu gusto o agregarlas.</p>
                <p>Wenas compañeros :D</p>
            </div>
        </div>
    </div>

    <div class="container" style="background-color: rgba(0, 0, 0, 0); padding: 30px;">
        
        <h2></h2>
        <p></p>
        
    </div>

</body>
{% endblock %}
