{% extends "base.html" %}

{% block titulo %}Nosotros{% endblock %}

{% block contenido %}

<body class="bg-dark text-light">

    <h1>Nosotros</h1>
    <p>
        <h2>Berserk history</h2>

        Berserk se centra en la vida de Guts, un mercenario conocido por su destreza en la lucha. La historia comienza con Guts uniéndose a un grupo de mercenarios liderado por Griffith. A medida que la trama avanza, se revelan los oscuros y complicados antecedentes de Guts, incluyendo su infancia traumática.
La serie se desarrolla en un mundo medieval oscuro y brutal lleno de horrores sobrenaturales. La ambientación y la narrativa de Berserk son notables por su realismo y por tratar temas muy oscuros, como la venganza, la traición y el sacrificio.
Uno de los aspectos más icónicos de la serie es el "Branding Sacrifice", un ritual siniestro que hace que los humanos sean marcados para ser cazados por seres demoníacos. Guts, Griffith y Caska, los tres protagonistas principales, son marcados por este sacrificio.
A medida que la historia avanza, la relación entre Guts y Griffith se vuelve cada vez más complicada y destructiva. La serie también presenta personajes memorables, como el enigmático Skull Knight y el sádico Femto.
La obra de Kentaro Miura es conocida por su arte detallado y violento, lo que le ha valido una base de fanáticos leales. La serie ha tenido adaptaciones de anime y películas, pero la adaptación más conocida es la versión manga.
Tristemente, Kentaro Miura falleció en mayo de 2021, lo que dejó a los fanáticos preguntándose si la serie se completaría alguna vez. Su obra y su estilo artístico único dejaron una huella duradera en el mundo del manga y el anime.
Berserk es una serie oscura, violenta y profundamente emotiva que ha ganado un estatus de culto entre los amantes del manga y el anime.
    </p>
    <body style="background-image: url('/imagenes/gutsgif.jpg'); background-size:cover; background-position: center; padding: 20px; margin: 0; color: white;">
    <div class="mt-4">
    </div>

</body>

{% endblock %}
