{%extends "base.html "%}
{%block titulo%} Editar pelicula {% endblock %}
{% block contenido %}
<body style="background-image: url('/imagenes/denji.gif'); background-size: cover; background-position: center; padding: 20px; margin: 0;"></body>
<h1 style="color: white;">Sección para edición de películas</h1>
<div class="card">
    <div class="card-header">
        Editar Pelicula
    </div>
    <div class="card-body">
        <h4 class="card-title">Editor</h4>
        {% include "peliculas/form.html" %}
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>


{% endblock %}
