<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% for campo in formulario %}
    <div class="mb-3">
        <label for="">{{campo.label}}</label>

        {% if campo.field.widget.input_type == 'file' and campo.value %}
        <img src="{{ campo.value.url }}" height="100">
        {% endif %}
        <input
        type="{{ campo.field.widget.input_type }}"
        class="form-control"
        name="{{ campo.name }}"
        id=""
        placeholder="{{campo.label}}"
        value= "{{campo.value | default:''}}">
        <small id="helpId" class="form-text text-muted">{{campo.errors}}</small>

    </div>
    {% endfor %}

    <input name="" id="" class="btn btn-success" type="submit" value="Enviar Información">
    <a name="" id="" class="btn btn primary" href="{% url 'peliculas' %}"
    role="button">Cancelar</a>


</form>





